[submodule "vendor/gif.js"]
	path = vendor/gif.js
	url = https://github.com/rndomhack/gif.js.git
	ignore = dirty
[submodule "vendor/jszip"]
	path = vendor/jszip
	url = https://github.com/Stuk/jszip.git
	ignore = dirty
